#buddyeq__check {
    .d {
        stroke: gray;
    }
    .d,
    .e,
    .f,
    .g,
    .h,
    .i {
        stroke-miterlimit: 10;
    }
    .buddyz .j {
        fill: #f2f2f2;
        stroke-miterlimit: 10;
        stroke: none;
    }
    .k {
        fill: #eaeaea;
    }
    .l {
        fill: #e6e6e6;
    }
    .m {
        fill: #edcf21;
    }
    .buddyz .n, .g, .h, .j, .t, .l {
        stroke: unset !important;
    }
    .n {
        fill: #e5e5e5;
    }
    .buddyz .p {
        stroke: unset;
    }
    .o {
        fill: #ff4800;
    }
    .p,
    .e {
        fill: #ff6d00;
    }
    .q {
        fill: #996d41;
    }
    .r {
        fill: #c1d9e5;
    }
    .buddyz .s {
        fill: #b7854f;
        stroke: unset;
    }
    .t,
    .u {
        fill: #32373a;
    }
    .v {
        fill: #333;
    }
    .w {
        fill: #bc9871;
    }
    .x {
        fill: #cfd0d1;
    }
    .y {
        fill: #c4c4c4;
    }
    // .a` {
    //     fill: #e08d3b;
    // }
    .aa {
        fill: #db5c05;
    }
    .ab {
        fill: #d6b48b;
    }
    .ac {
        fill: #222628;
    }
    .ad {
        fill: gray;
    }
    .ae {
        fill: #2a66bc;
    }
    .af {
        fill: #493a30;
    }
    .e {
        stroke: #000;
    }
    .e,
    .f,
    .g,
    .h {
        stroke-width: 4px;
    }
    .ag {
        stroke: #996d41;
    }
    .ag,
    .ah {
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
    }
    .ag,
    .ah,
    .f,
    .g,
    .h,
    .i {
        fill: none;
    }
    .ah {
        stroke: #bc9871;
    }
    .u {
        opacity: 0.2;
    }
    .f {
        stroke: #f46245;
    }
    .g {
        stroke: #6b5237;
    }
    .h {
        stroke: #e08d3b;
    }
    .ai {
        opacity: 0.42;
    }
    .i {
        stroke: #ff4800;
        stroke-width: 9px;
    }
    .buddyz .aj {
        fill: #fff;
        opacity: 0.67;
        mix-blend-mode: unset;
    }
}